gerrit:
  config:
    # Configure auth section https://gerrit-review.googlesource.com/Documentation/config-gerrit.html#auth
    # For example to configure type, httpHeader and logoutUrl put below pillars
    auth:
      type: oauth
      httpHeader: GITHUB_USER
      logoutUrl: /
    # Configure gerrit section https://gerrit-review.googlesource.com/Documentation/config-gerrit.html#gerrit
    # For example to configure canonicalWebUrl and canonicalGitUrl just put below pillars
    gerrit:
      canonicalWebUrl: http://example.com/
      canonicalGitUrl: git://example.com/
    # Configure database section https://gerrit-review.googlesource.com/Documentation/config-gerrit.html#database
    database:
      # Supports h2 and other database types, but h2 and mysql are well tested ONLY
      type: h2
      # Before starting using mysql, database and user with correct rights should be created
      dbname: reviewdb
      hostname: localhost
      username: gerrit
      password: gerrit
    # Configure the sshd section https://gerrit-review.googlesource.com/Documentation/config-gerrit.html#sshd
    sshd:
      # to listen on ip address 10.1.12.125 put below pillar
      listenAddress: 10.1.12.125:29418
    # Configure the httpd section https://gerrit-review.googlesource.com/Documentation/config-gerrit.html#httpd
    httpd:
      # to listen on ip address 192.168.1.12 put below pillar
      listenUrl: http://192.168.1.12/
      # Plain-text HTTP relayed from a reverse proxy
      listenUrl: proxy-http://192.168.1.12:8080
      # to specify class that implements the javax.servlet.Filter interface
      filterClass = org.anyorg.MySecureFilter
  # Configure custom config sections in gerrit.config
  # Below example shows how to configure github-plugin section
  config_custom_sections:
    github:
        url: https://github.com
        apiUrl: https://api.github.com
        clientId: 12343e611234c6ab4321
        clientSecret: 123475f1d4da1234f1658b123432d5dfa27a4321
  # Install core plugins https://gerrit-review.googlesource.com/Documentation/config-plugins.html#core-plugins
  # For example to install such core plugins as replication and download-commands
  core_plugins:
    - replication
    - download-commands
  libraries:
    github-oauth:
      source: https://gerrit-ci.gerritforge.com/view/Plugins-stable-2.12/job/plugin-github-mvn-stable-2.12/lastSuccessfulBuild/artifact/github-oauth/target/github-oauth-2.12-SNAPSHOT.jar
      source_hash: md5=bb34533f320637f1fa8cb69004ef4a00
  plugins:
    github-plugin:
      source: https://gerrit-ci.gerritforge.com/view/Plugins-stable-2.12/job/plugin-github-mvn-stable-2.12/3/artifact/github-plugin/target/github-plugin-2.12-SNAPSHOT.jar
      source_hash: md5=42ebd7a68c6e0a35e7885c69b28c503b
