{% from "gerrit/map.jinja" import settings with context -%}
{% set war_file = "gerrit-" + settings.package.version + ".war" -%}

[gerrit]
        basePath = git
        canonicalWebUrl = {{ settings.canonical_web_url }}
[database]
        type = h2
        database = /opt/{{ settings.base_directory }}/{{ settings.site_directory }}/db/ReviewDB
[index]
        type = LUCENE
        onlineUpgrade = true
[auth]
        type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[sendemail]
        smtpServer = localhost
[container]
        user = {{ settings.user }}
        javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre
        war = {{ settings.base_directory }}/{{ war_file }}
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8080/
[cache]
        directory = cache
