{%- set dbtype = settings.config.database.type -%}
[gerrit]
{%- for gerrit_option, option_value in settings.config.gerrit.items() %}
        {{ gerrit_option }} = {{ option_value }}
{%- endfor %}
[database]
        type = {{ dbtype }}
{%- if dbtype == 'h2' %}
        database = {{ settings.base_directory }}/{{ settings.site_directory }}/db/{{ settings.config.database.dbname }}
{%- else %}
        database = {{ settings.config.database.dbname }}
        hostname = {{ settings.config.database.hostname }}
        username = {{ settings.config.database.username }}
        password = {{ settings.config.database.password }}
{%- endif %}
[index]
{%- for index_option, option_value in settings.config.index.items() %}
        {{ index_option }} = {{ option_value }}
{%- endfor %}
[auth]
{%- for auth_option, option_value in settings.config.auth.items() %}
        {{ auth_option }} = {{ option_value }}
{%- endfor %}
[sendemail]
{%- for sendemail_option, option_value in settings.config.sendemail.items() %}
        {{ sendemail_option }} = {{ option_value }}
{%- endfor %}
[container]
        user = {{ settings.user }}
        javaHome = {{ settings.java_home|default(salt['cmd.run']('readlink -f /usr/bin/java | sed "s:bin/java::"')) }}
        war = {{ settings.base_directory }}/{{ war_file }}
[sshd]
{%- for sshd_option, option_value in settings.config.sshd.items() %}
        {{ sshd_option }} = {{ option_value }}
{%- endfor %}
[httpd]
{%- for httpd_option, option_value in settings.config.httpd.items() %}
        {{ httpd_option }} = {{ option_value }}
{%- endfor %}
[cache]
        directory = cache
[receive]
{%- for receive_option, option_value in settings.config.receive.items() %}
        {{ receive_option }} = {{ option_value }}
{%- endfor %}
{%- if settings.config_custom_sections is not none -%}
    {% for custom_section, custom_section_options in settings.config_custom_sections.items() %}
[{{ custom_section  }}]
        {%- for custom_section_option, custom_section_value in custom_section_options.items() %}
        {{ custom_section_option }} = {{ custom_section_value }}
        {%- endfor %}
    {%- endfor %}
{%- endif %}
