{% from "gerrit/map.jinja" import settings with context -%}
{% set war_file = "gerrit-" + settings.package.version + ".war" -%}
{% set dbtype = settings.config.database.type -%}
[gerrit]
{%- for gerrit_option, option_value in settings.config.gerrit.items() %}
        {{ gerrit_option }} = {{ option_value }}
{%- endfor %}
[database]
        type = {{ dbtype }}
{%- if dbtype == 'h2' %}
        database = {{ settings.base_directory }}/{{ settings.site_directory }}/db/{{ settings.config.database.dbname }}
{%- else %}
        database = {{ settings.config.database.dbname }}
        hostname = {{ settings.config.database.hostname }}
        username = {{ settings.config.database.username }}
        password = {{ settings.config.database.password }}
{%- endif %}
[index]
        type = LUCENE
        onlineUpgrade = true
[auth]
{%- for auth_option, option_value in settings.config.auth.items() %}
        {{ auth_option }} = {{ option_value }}
{%- endfor %}
[sendemail]
        smtpServer = localhost
[container]
        user = {{ settings.user }}
        javaHome = {{ settings.java_home|default(salt['cmd.run']('readlink -f /usr/bin/java | sed "s:bin/java::"')) }}
        war = {{ settings.base_directory }}/{{ war_file }}
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8080/
[cache]
        directory = cache
